@media only screen and (max-width:576px){
    #about-container{
        width:100%;
        display: grid;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        margin: 0px;
    }
    #about-contain {
        width: 100%;
        margin: 0px;
        padding: 5px !important;
    }
    #about-item {
        padding:2px !important;
    }

    #service-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin: 0px;
    }
    #our-service1{
        padding: 0px;
        margin: 0px;
    }
    #our-service2{
        padding: 0px;
        margin: 0px;
    }
    #badge{
        display: none;        
    }
    footer{
        justify-content: center;
        align-items: center;
        padding: 13px;
        margin: 0px;
    }   
}